@{
    ViewData["Title"] = "Welcome to Tiny Clothes";
}

    <h1>Tiny Clothes</h1>
    <p>Tiny clothes for tiny things but not babies</p>    

    <div class="card text-white bg-dark mb-3" style="width: 18rem;">
        <img src="~/images/DogWithGlasses.jpg" alt="Dog With Glasses" class="card-img-top"/>
        <div class="card-body">
            <h5 class="card-header">Our products</h5>
            <p class="card-text">
                We sell tiny clothes for your pets and stuff animals. These are not baby clothes!!
            </p>
        </div>
    </div>

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        We do not accept return or give refunds at this time.
        We do not guarantee your baby will/won't be allergic to the clothes.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
